.Button {
    padding: 1rem;
    font-size: 1rem;
    background: #616375;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
    outline: 0;
    margin: 0.5rem;
    font-weight: bold;
}

.Button:hover {
    text-decoration: underline;
}

.Button-light {
    background: #dadceb;
    color: #282933;
    border: solid 1px #000000;
    transition: all .3s;
}

.Button-light:hover,
.Button-light:focus {
    background: #b0b2c0;
}

.Button-dark {
    background: #616375;
    color: white;
    border: solid 1px #000000;
    transition: all .3s;
}

.Button-dark:hover,
.Button-dark:focus {
    background: #2734aa;
}

.Button-warn {
    background: #910035;
    color: white;
    border: solid 1px white;
    transition: all .3s;
}

.Button-warn:hover,
.Button-warn:focus {
    background: #d13e74;
}

.Button-transparent {
    background-color: transparent;
    border: none;
    color: #282933;
}

.Button-transparent:hover,
.Button-transparent:focus {
    background: #b0b2c0;
}