.ListItem {
    margin: 0.5rem auto;
    background: #ffffff;
    color: #282c34;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.ListItem-accordion-trigger {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    border: none;
    outline: 0;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.ListItem-accordion-trigger:hover {
    text-decoration: underline;
}

.ListItem-accordion-content {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 1rem;
    border: none;
    outline: 0;
    transition: all 0.3s;
}

.ListItem-accordion-ingredients-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ListItem-accordion-ingredients-item {
    padding: 0;
    margin: 0;
}