.Modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
}

.Modal-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background: #ffffff80;
}

.Modal-content {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 600px;
    width: 800px;
    background: white;
    border: 1px solid #282c34;
    padding: 2rem;
    border-radius: 10px;
}

.Modal-header {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d8d8d8;
}

.Modal-title {
    margin: 0;
    font-size: 2rem;
    flex-grow: 1;
    text-align: left;
    line-height: 1;
}

.Modal-formfields-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    text-align: left;
}

.Modal-formfield {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}

label.Modal-formfield {
    font-weight: bold;
}

input.Modal-formfield,
textarea.Modal-formfield {
    padding: 0.5rem;
      font-family: -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Roboto',
      'Oxygen',
      'Ubuntu',
      'Cantarell',
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}